.max-hero-button-container > a {
  background-color: aliceblue;
  text-decoration: none;
  border: none;
  border-radius: 35px;
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 700;
}

.max-hero-button-container {
  padding: 100px 50px;
}

.max-hero-button-container > .max-contact-button {
  background-color: aliceblue;
  color: rgba(102, 51, 153, 0.596);
  border: 3px solid rgba(102, 51, 153, 0.432);
  transition: all 0.3s ease;
}

.max-hero-button-container > .max-contact-button:hover {
  color: rgb(102, 51, 153);
  border: 3px solid rgb(102, 51, 153);
}

.max-hero-button-container > .max-start-button {
  background-color: rebeccapurple;
  color: white;
  border: 3px solid rebeccapurple;
  margin-left: 20px;
}

.max-hero-button-container > .max-start-button:hover {
  background-color: rgb(44, 0, 88);
  border: 3px solid rgb(44, 0, 88);
}

.max-hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-deadpool-gif-container {
  padding-top: 40px;
  position: relative;
  width: 700px;
}

.max-hero-headline > h1 {
  font-weight: 500;
  font-style: italic;
  font-size: 50px;
  width: 700px;
  padding: 70px;
  padding-top: 300px;
  padding-bottom: 0;
}

.max-hero-headline > h2 {
  padding: 70px;
  padding-top: 0;
}

.max-deadpool-gif-container > .max-cover {
  position: absolute;
  width: 700px;
  height: 60px;
  background-color: white;
  z-index: 1;
}

.max-deadpool-gif-container > img {
  position: absolute;
  width: 700px;
}

footer {
  height: 20px;
  background-color: rgb(35, 0, 70);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 12px;
  margin-right: 5px;
}

.max-main {
  min-height: calc(100vh - 70px);
  background-image: radial-gradient(
      circle at 13% 47%,
      rgba(140, 140, 140, 0.03) 0%,
      rgba(140, 140, 140, 0.03) 25%,
      transparent 25%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 63%,
      rgba(143, 143, 143, 0.03) 0%,
      rgba(143, 143, 143, 0.03) 16%,
      transparent 16%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 56%,
      rgba(65, 65, 65, 0.03) 0%,
      rgba(65, 65, 65, 0.03) 12%,
      transparent 12%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 48%,
      rgba(60, 60, 60, 0.03) 0%,
      rgba(60, 60, 60, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    radial-gradient(
      circle at 97% 17%,
      rgba(150, 150, 150, 0.03) 0%,
      rgba(150, 150, 150, 0.03) 56%,
      transparent 56%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 100%,
      rgba(25, 25, 25, 0.03) 0%,
      rgba(25, 25, 25, 0.03) 36%,
      transparent 36%,
      transparent 100%
    ),
    radial-gradient(
      circle at 55% 52%,
      rgba(69, 69, 69, 0.03) 0%,
      rgba(69, 69, 69, 0.03) 6%,
      transparent 6%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
