@font-face {
  font-family: "Ginchiest";
  src: url("/assets/fonts/Ginchiest.ttf");
}

:root {
  --max-background: linear-gradient(
      235.45deg,
      rgba(255, 255, 255, 0.35) 24.99%,
      rgba(255, 255, 255, 0) 68.03%
    ),
    linear-gradient(270.85deg, #1a00bd 15.42%, #aaf5ff 115.59%);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-main {
  margin-top: 58px;
  min-height: calc(100vh - 20px - 58px);
}

.max-main.max-contact-form {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--max-background);
}

.max-main.max-contact-form > form {
  min-width: 270px;
  display: flex;
  flex-direction: column;
}

.max-main.max-contact-form > form > label {
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.max-main.max-contact-form > form > label > textarea,
.max-main.max-contact-form > form > label > input {
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 500;
  padding: 0 5px;
  color: #ff7917;
}

.max-main.max-contact-form > form > label > textarea::placeholder,
.max-main.max-contact-form > form > label > input::placeholder {
  color: #1100ff60;
  font-style: italic;
  font-size: 12px;
}

.max-main.max-contact-form > form > button {
  align-self: center;
  border: none;
  padding: 10px 18px;
  color: white;
  background: linear-gradient(
      235.45deg,
      rgba(80, 80, 80, 0.35) 24.99%,
      rgba(255, 255, 255, 0) 68.03%
    ),
    linear-gradient(270.92deg, #0004ff -59.57%, #fb00ff 126.42%);
  transition: all 0.4s ease;
  border-radius: 5px;
  align-self: center;
  margin-top: 15px;
}

.max-main.max-contact-form > form > button:hover {
  background: var(--max-background);
}

.max-main.max-contact-form > form > label > textarea {
  min-height: 300px;
}

nav.navbar,
nav.max-navbar {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  background: var(--max-background);
}

nav.max-navbar {
  display: flex;
}

nav.max-navbar > ul {
  display: flex;
}
.max-nav-overlay {
  display: none;
  width: 100%;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.582);
  position: fixed;
  z-index: 99;
}

.max-nav-overlay.show {
  display: block;
}

nav.navbar .navbar-brand {
  margin: 0;
  padding: 0;
}

nav.navbar .max-bb-logo {
  width: 47px;
}

nav.max-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.max-navbar .max-bb-logo {
  margin: 0 16px;
  width: 47px;
}

nav.max-navbar > a {
  color: white;
  font-size: 28px;
  font-family: "Ginchiest";
  text-shadow: 2px 2px rgb(209, 101, 0);
  display: flex;
  align-items: center;
}

nav.max-navbar > a > span {
  margin-top: 6px;
}

nav.max-navbar > ul {
  margin: 0;
}

nav.max-navbar > ul > li {
  list-style: none;
}

nav.max-navbar > ul > li > a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

nav.navbar ul {
  margin-left: 42px;
}

nav.navbar ul > li.nav-item > a.nav-link {
  color: white;
  font-weight: 700;
  position: relative;
}

nav.max-navbar ul > li.nav-item.max-nav-active > a.nav-link {
  color: #fb00ff;
}

nav.navbar ul > li.nav-item.max-nav-active > a.nav-link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -26px;
  top: 15px;
  transform: rotate(-45deg);
  background-color: aliceblue;
}

nav.navbar ul > li.nav-item:hover > a.nav-link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: -26px;
  top: 16px;
  transform: rotate(-45deg);
  background-color: rgb(255, 255, 255);
}

.carousel.slide {
  margin: 58px 0 15px 0;
}

.container .max-card {
  margin: 15px;
}

.input-group-prepend.max-calculate-circumference:hover
  > .input-group-text.max-calculate-circumference {
  background-color: #ff7917;
  color: white;
}

.input-group-prepend.max-calculate-random:hover
  > .input-group-text.max-calculate-random {
  background-color: #ff1717;
  color: white;
}

.input-group-prepend.max-calculate-squareRoot:hover
  > .input-group-text.max-calculate-squareRoot {
  background-color: #0011ff;
  color: white;
}

footer {
  height: 20px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--max-background);
}

footer > a {
  color: aliceblue;
  text-decoration: none;
  font-size: 12px;
  margin-right: 5px;
}

footer > a:hover {
  color: rgb(172, 0, 66);
  text-decoration: none;
}

footer > a:focus {
  color: rgb(172, 0, 66);
  text-decoration: none;
}

footer > a:active {
  color: rgb(172, 0, 66);
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  nav.navbar {
    display: flex;
  }
  nav.max-navbar {
    display: none;
  }
}
